@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the SMS Tracker application. Code is available <a href="https://github.com/lbearl/SmsTracker">at Github.</a></p>
    
    <p></p>
</div>