@page
@using SmsTracker.Constants
@model SmsTracker.Pages.Tracker.AccountOverview

@{
    ViewData["Title"] = "Account Overview";
}

<a class="btn btn-primary" asp-page="@NavigationConstants.TrackerPages.AccountManagement">Create New</a>
<table class="table">
    <thead>
    <tr><th>
        Account Name
    </th>
        <th>Actions</th></tr>
    </thead>
    <tbody>
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@account.AccountName</td>
            <td><a class="btn btn-primary" asp-page="@NavigationConstants.TrackerPages.AccountManagement" asp-route-accountid="@account.Id">View</a></td>
        </tr>
    }
    </tbody>
</table>

