@page "{AccountId?}"
@model SmsTracker.Pages.Tracker.Calendar

@{
    ViewData["Title"] = "Calendar View";
}

<div class="col-4">
    <select class="form-select" asp-for="AccountId" asp-items="Model.Accounts"></select>
</div>
<div id="calendar"></div>

@section Scripts
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css" integrity="sha256-jLWPhwkAHq1rpueZOKALBno3eKP3m4IMB131kGhAlRQ=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>

    <script>
    $(() => { 
        $('#AccountId').on('change', () => {
            window.location = '/tracker/calendar/' + $('#AccountId').val()
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialDate: '@(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd"))',
          dayMaxEvents: true,
          eventSources: {
          url: '/calendar/getevents',
          method: 'get',
          extraParams: {
              'accountId': '@Model.AccountId'
          }
          }});
        
        calendar.render();
        });
    </script>
}