@page "{AccountId}"
@model SmsTracker.Pages.Tracker.PhoneNumbers


@{
    ViewData["Title"] = "Number Management";
}

<div>
    <form method="post">
        <div class="row mb-2">
            <div class="col">
                <label class="form-label" asp-for="Number.Name"></label>

                <input type="text" class="form-control" placeholder="Jane Doe" asp-for="Number.Name"/>
                <span asp-validation-for="Number.Name" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="form-label" asp-for="Number.PhoneNumber"></label>

                <input type="tel" class="form-control" asp-for="Number.PhoneNumber"/>
                <span asp-validation-for="Number.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" asp-for="Number.Notes"></label>

                <textarea class="form-control" asp-for="Number.Notes"></textarea>
                <span asp-validation-for="Number.Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </div>


    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
